<section class="bg-light vh-100">
    <div class="container h-100">
        <div class="row align-items-center justify-content-lg-end h-100">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="p-3 rounded-3 shadow d-flex flex-column gap-3">
                    <p class="text-center h4 mb-0">Login</p>
                    <div>
                        <label for="">username</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label for="">password</label>
                        <input type="password" class="form-control">
                    </div>
                    <button class="btn btn-outline-success">
                        login
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>